.foto-perfil {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
}

.contenedor-imagen {
    margin: 50px;
}
main {
    background-color: #f3f7fb;  
    box-shadow: 0 4px 8px rgba(212, 17, 108, 0.892);
}

footer {
    background-color: #b3bfca;
    color: white;
}
.navbar-brand {
    color: #ff69b4 !important;
}
.foto-perfil {
    border-color: #ff69b4 !important;
}